<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{!-- <!-- Googlefont Link --> --}}
        <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Raleway&display=swap" rel="stylesheet">
        <!-- Stylesheet -->
        <link rel="stylesheet" href="./assets/css/style.css">
        {{!-- <!-- Materialize Links --> --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="./assets/css/materialize.css"/>

        {{!-- <!-- Favicon --> --}}
        <link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="./assets/favicon/site.webmanifest">
    
    <title>MOJO Meditation Journal</title>
</head>

<body>
    {{{ body }}}
    {{!-- <!-- Script Links --> --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">//jQuery Link </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js">//Granium Link</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">//Materialize CSS Framework Link</script>
    <script src="/assets/js/gradient.js"></script>
    <script src="/assets/js/journal.js"></script>
</body>

</html>