<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MOJO Meditation Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Googlefont Link -->
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/journal.css" type="text/css" />
</head>

<body>
    {{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
<!-- Compiled JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script src="/assets/js/gradient.js"></script>
<script src="/assets/js/journal.js"></script>

</html>