{{!-- <div style="text-align:right;"> --}}
<div class="menu" align="right">
    <a class="post-link" href="/">Posts</a>&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
{{!-- </div> --}}
<div class="container rel-main mx-2">
    <div class="row">
        <div class="col s12 ab-main">
            <form id="journal">
                <div class="form-group">
                    <textarea style="border:none" placeholder="Title" class="form-control txta" id="title"></textarea>
                    <textarea style="border:none" placeholder="Write something here..." class="form-control txta"
                        rows="20" id="body"></textarea>
                    <center>
                        <button data-authid="{{id}}" type="submit"
                            class="waves-effect waves-light btn grey darken-3 submit">SAVE
                        </button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
<canvas id="canvas-basic"></canvas>
<!-- Modal Structure -->
<div id="modal1" class="modal" style="overflow: visible;">
    <div class="modal-content" style="overflow: visible;">
        <h4 class="cursive">How are you feeling today?</h4>
        <div class="py3">
            <div class="input-field">
                <select id="select-mood" style="overflow: hidden;">
                    <option value="default" disabled selected>Tell us how you're feeling</option>
                    {{#each mood}}
                    <option data-num="{{id}}" value="{{mood}}">{{mood}}</option>
                    {{/each}}
                </select>
                <label>Mood</label>
            </div>
        </div>
    </div>
    <div class="modal-footer py3">
        <center><a href="#!" id="mood" class="waves-effect waves-light btn-large grey darken-3"><i
                    class="material-icons left">favorite_border</i>SUBMIT</a></center>
        {{!-- <a href="#!" id="mood" class="modal-close waves-effect waves-green btn-flat">Submit</a> --}}
    </div>
</div>
</div>