<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
            <li><a class="post-link" href="/{{username}}/posts">Posts</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col m12">
        <div class="card-panel">            
            {{!-- Hidden Prompt Div --}}

            <form id="journal">
                <div class="form-group">
                    {{!-- Journal Title Area --}}
                    <textarea style="border:none" placeholder="Title" class="form-control txta" id="title"></textarea>
                    {{!-- Journal Content Area --}}
                    <textarea style="border:none" placeholder="Write something here..." class="form-control txta"
                        rows="20" id="body"></textarea>
                    {{!-- Journal Save Btn --}}
                    <div class="row">
                        <center>
                            <button data-authid="{{id}}" type="submit"
                                class="waves-effect waves-light btn-large blue-grey darken-1 submit">Submit
                                {{username}}</button>
                        </center>
                        {{!-- Prompt btn --}}

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>How are you feeling today?</h4>
        <p>Set your mood and choose a color theme</p>
        <div class="py3">
            <div class="input-field">
                <select id="select-mood">
                    <option value="default" disabled selected>Tell us how you're feeling</option>
                    <option data-num="1" value="Happy">Happy</option>
                    <option data-num="2" value="Sad">Sad</option>
                    <option data-num="3" value="Angry">Angry</option>
                </select>
                <label>Mood</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="mood" class="modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>

<footer class="center-align">
    <span class="white-text"><strong>Powered by Granium.js & Materialize</strong></span>   
</footer>