{{#if post}}
<div class="all-content">
    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li><a class="journal-link" href="/">Journal</a>&nbsp;&nbsp;&nbsp;</li>
                <li><a href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
        </div>
    </nav>
    <div class="container rel-main mx-2">
        <div class="row">
            <div class="col s12">
                <h1 class="center">{{name}}'s blog</h1>
                <ul class="post-group">
                    {{#each post}}
                    {{> posts-block}}
                    {{/each}}
                    {{!-- {{log }} --}}
                </ul>
            </div>
        </div>
    </div>
    <!--Modal-->
    <div id="modal3" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h3 class="postTitle left-align">Update your post...</h3>
            <h4 class="post-title"></h4>
            <textarea class="post-textarea" placeholder="Note Text"></textarea>
            <h6 class="dateCreated"></h6>
        </div>
        <div class="modal-footer">
            {{!-- <button id="saving" class="modal-close waves-effect waves-green btn-flat left">Save</button>
            <button id="deleting" class="modal-close waves-effect waves-green btn-flat right">Delete</button> --}}
            <a id="saving" class="btn-floating grey darken-3"><i class="material-icons">save</i></a>
            <a id="deleting" class="btn-floating grey darken-3"><i class="material-icons">delete</i></a>
        </div>
    </div>
    <canvas id="canvas-basic"></canvas>
</div>
{{/if}}

