<div class="container rel-main mx-2">
    <div class="row">
        <div class="col s12">
            <h1>{{name}}'s blog</h1>
            <ul>
                {{#each post}}
                {{> posts-block}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>