{{#if post}}
<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
            <li><a class="journal-link" href="/{{username}}/journal">Journal</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container rel-main mx-2">
    <div class="row">
        <div class="col s12">
            <h1>{{name}}'s blog</h1>
            <ul class="post-group">

                {{#each post}}
                {{> posts-block}}
                {{/each}}

            </ul>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <input class="post-title" placeholder="Note Title" maxlength="28" type="text">
        <textarea class="post-textarea" placeholder="Note Text"></textarea>
        <div class="py3">
            <div class="input-field">
                <select id="select-mood" name="mood-options">
                    <option value="default" disabled>Feelings</option>
                    <option data-num="Happy" value="1">Happy</option>
                    <option data-num="Sad" value="2">Sad</option>
                    <option data-num="Angry" value="3">Angry</option>
                </select>
                <label>Mood</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="mood" class="modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>
</div>
<!--Kelly's Modal-->
<!-- Search Error Modal  -->
<div id="modal3" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h3 class="postTitle left-align">Update your post...</h3>
        <input class="post-title" placeholder="Note Title" maxlength="28" type="text">
        <textarea class="post-textarea" placeholder="Note Text"></textarea>
        <h6 class="dateCreated"></h6>
        {{!-- <div class="fixed-action-btn right-align">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a id="edit" class="btn-floating red"><i class="material-icons">edit</i></a></li>
                <li><a id="save" class="btn-floating yellow darken-1"><i class="material-icons">save</i></a></li>
                <li><a id="delete" class="btn-floating green"><i class="material-icons">delete</i></a></li>
            </ul>
        </div> --}}
    </div>
    <div class="modal-footer">
        <button id="saving" class="modal-close waves-effect waves-green btn-flat">Save</button>
        <button id="deleting" class="modal-close waves-effect waves-green btn-flat">Delete</button>
    </div>
</div>
{{/if}}