body {
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
  color: #424242;
  background-color: #e8e8e8;
}

h1, h2,h3,h4 {
  color: #424242;
}

p{
  font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
}

footer {
  background-color: #424242;
}

.modal, .modal-footer {
  text-align: left;
}

h1, .cursive {
  font-family: 'Courgette', Georgia, 'Times New Roman', Times, serif ;
}

/* Menu styles */
.menu {
  padding: 10px 5px;
}

.menu a {
  color: #424242;
  text-align:right;
}

.py3 {
  padding: 10px 0;
}


/* Styles for each post */
.grad-bg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10px 0;
  padding: 5px 20px;
  /* border: 2px solid #424242; */
  box-shadow: black;
}

/* Expandable text area */
.txta {
  width: 100%;
  /* max-width: 500px; */
  min-height: 100px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.4;
}

/*End Expandable Text Area */

/* Gradient background settings */
#canvas-basic {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-1;
}


/* Modal Styles */
#modal1, #modal3 {
  background-color: #E8E8E8 ;
}

.modal-footer {
  background-color: #E8E8E8 !important;
  min-height: 80px !important;
}

.modal-footer a {
  font-size: 1.2em;
  background-image: linear-gradient(to right, #424242 0%, #424242 51%, #424242 100%);
}

#select-mood .dropdown-content li > a, .dropdown-content li > span {
  color: #424242  !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #424242;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #424242;
  box-shadow: 0 1px 0 0 #424242;
}

.post-textarea {
  height: 70%;
}

#saving, #deleting {
  margin:20px 5px;
}

/* Journal Page */
.rel-main{
  position: relative;
  height: 100vh;
  /* border: 3px solid #73AD21; */
}

.ab-main {
  position: absolute;
  bottom:15vh;
  /* border: 3px solid #73AD21; */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  :-ms-input-placeholder { /* IE 10+ */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  :-moz-placeholder { /* Firefox 18- */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  }

/* cindy's comment styles */

/* .relative {
  position: relative;
} */

#post-comms {
  /* position: absolute;
  right: 0px;
  bottom: -20px; */
  margin: 0 0 0 10px;
}

.transparent {
  background: transparent;
  border: none;
  padding: 3px;
  text-shadow: 2px 2px 2px #000;
  float: right;
}

/* .nice-comms {
  color: #808080;
  border: 1px solid #fff;
} */

.comments textarea {
  border: 1px solid #000;
  font-size: 8pt;
  resize: none;
}

.comments label {
  font-size: 12pt;
  color: #000;
}

.material-icons.md-light { 
  color: rgba(255, 255, 255, 1); 
}

.transparent:hover {
  color: rgb(87, 87, 87, 1);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  margin-bottom: 2%;
}