body {
  font-family: 'Courier Prime', monospace;
  color: #424242;
  background-color: #e8e8e8;
}

nav {
  background-color: transparent; 
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
nav ul a {
  color: #424242;
}

a {
  color: #424242;
}

h1,h2,h3,h4 {
  font-family: 'Comfortaa', cursive;
  color: #424242;
}

p{
  font-family: 'Dosis', sans-serif;
}

.py3 {
  padding: 10px 0;
}

.grad-bg {
  width: 100%;
  border: 2px solid #424242;
}

/* Expandable text area */
.txta {
  width: 100%;
  /* max-width: 500px; */
  min-height: 100px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.4;
}

/*End Expandable Text Area */

#canvas-basic {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-1;
}

#modal2 {
  background-color: #E8E8E8;
}
.rel-main{
  position: relative;
  height: 100vh;
  /* border: 3px solid #73AD21; */

}

.ab-main {
  position: absolute;
  bottom:30vh;
  /* border: 3px solid #73AD21; */
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  :-ms-input-placeholder { /* IE 10+ */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  }
  
  :-moz-placeholder { /* Firefox 18- */
  color: #424242;
  font-size: 1.5em;
  text-align: center;
  }