<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MOJO Meditation Journal</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Courgette|Dosis|Indie+Flower&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="./stylesheets/journal.css" type="text/css" />
</head>

<body>
	{{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
<script src="./js/script.js"></script>
<script src="./js/gradient.js"></script>

</html>